html {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,
body {
  height: 100%;
}
.app {
  background-color: #000000;
}
.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav hr {
  display: inline-block;
  width: 200px;
  margin-left: 10%;
}
.sidenav h5 {
  display: inline-block;
  padding-top: 2px;
  padding-left: 10%;
  font-size: 13px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
}
.sidenav button {
  padding: 5px 5px;
  margin: 3px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff00;
  text-decoration: none;
  font-size: 12px;
  color: #000000;
}
.sidenav img {
  width: 70%;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sidenav h3 {
  text-align: center;
  margin-top: -25px;
  font-size: 24px;
}

.sidenav a:hover {
  color: #a9c0d6;
}

.sidenavright {
  text-align: center;
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenavright a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenavright button {
  background-color: #949494; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.sidenavright a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 260px; /* Same as the width of the sidenav */
  margin-right: 260px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  text-transform: capitalize;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.recipe_card {
  background-color: #ffffff;
  height: 220px;
  border-radius: 10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 10px;
}
.recipe_card img {
  position: absolute;
  height: 220px;
  width: 250px;
  border-radius: 10px 0 0 10px;
}
.recipe_text_border {
  margin-left: 270px;
}
.recipe_text_border h3 {
  text-transform: uppercase;
  padding-top: 15px;
  font-size: 25px;
}
.recipe_text_border p {
  font-size: 12px;
  width: 90%;
  padding-top: 20px;
  color: #9b9ea4;
}
.recipe_text_border span {
  text-transform: capitalize;
  position: absolute;
  margin-top: -10px;
  font-size: 12px;
}
.recipe_card_by {
  margin-left: 270px;
}
.recipe_card_by img {
  display: inline-block;
  margin-top: 20px;
  width: 40px;
  height: 40px;
}
.recipe_card_by span {
  text-transform: capitalize;
  display: inline-block;
  font-size: 12px;
  margin-top: 30px;
  margin-left: 40px;
}
.classic {
  border: #a29f9f 1px solid;
  border-radius: 5px;
  width: 25%;
  margin-top: 25px;
  padding: 20px;
  height: 300px;
  overflow: scroll;
}
.classic h4 {
  font-size: 15px;
  position: absolute;
  margin-top: -40px;
  margin-left: -20px;
}
.classic_checkboxs {
  margin-top: -10px;
}
.classic_checkboxs {
  margin-top: -10px;
}
.controle_bootstrap {
  padding-top: 5px;
}
.control_right_shoulder {
  position: absolute;
  margin-left: 200px;
  margin-top: -300px;
  width: 71%;
}
.control_right_shoulder_textarea {
  position: absolute;
  margin-left: 200px;
  margin-top: -250px;
}
.control_right_shoulder_textarea textarea {
  width: 128%;
  height: 250px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:link {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(0, 0, 0);
}
.sidenavright button {
  background-color: #747474;
  border: none;
  color: white;
  width: 240px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.sidenavright button:hover {
  filter: contrast(1500%);
}
.sidenavright h3 {
  font-size: 20px;
  padding-left: 10px;
  text-align: center;
  padding-top: 8px;
  width: 240px;
  height: 40px;
  color: #595959;
  text-transform: capitalize;
  border-radius: 30px 0px 5px 30px;
  background-color: #aeaeae4e;
  display: inline-block;
}
.sidenavright img {
  position: absolute;
  width: 40px;
  height: 40px;
}
.red_button {
  background-color: #e41313 !important;
}
.red_button:hover {
  filter: contrast(2000%);
}
.control_buton_link {
  margin-left: -10px;
}

.recipe-detail-main {
  display: flex;
  margin-top: 100px;
  margin-bottom: 40px;
}
.recipe-detail-left {
  border-radius: 10px;
  height: 400px;
}
.recipe-detail-right {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-left: 70px;
  font-size: 30px;
}

.link-text {
  text-decoration: none;
  color: inherit;
}

.link-text:hover {
  color: #ffc71c;
}
.left-nav-button:hover {
  background-color: #ffc71c;
}
.cate {
  font-size: 22px;
}
.Home-button {
  padding-top: 20px;
}
